/// CONNECTING ABSTRACTS 
@import 'abstracts/normalize';
@import 'abstracts/variables';
@import 'abstracts/templates';
@import 'abstracts/mixins';

/// CONNECTING LAYOUT
@import 'layout/header';
@import 'layout/about';
@import 'layout/footer';

/// CONNECTING COMPONENTS 
@import 'components/font';
@import 'components/modal';
@import 'components/animation';
@import 'components/media';

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-family: 'Raleway', sans-serif;
}

html,body {
  scroll-behavior: smooth;
  font-size: 15px;
}
body {
  background: $body---backround;
}
.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
  width: 100%;
}

