/// COLOR 
$body---backround: #1b1b1b;
$global---color: #ead306;
$item---color: #b9b9b9;
$description---color: #aaa9a9;
$section---backround: #0f0f0f;
$color---white: #fff;
$grey---color: #5e5d5d;

// BORDER RADIUS
$one---radius: 20px;