/// COLOR 
$body---backround: #FCFCFC;
$item---color: #FCFCFC;
// $global---color: #292927;
$global---color: #101010;
$description---color: #858484;
$color---white: #fff;
$grey---color: #5e5d5d;

// BORDER RADIUS
$one---radius: 20px;